body{
  font-family: "Myriad Pro";
  background-color: #fff;
  color: #555;
}
a:hover{
    text-decoration: none;
    color: #9a9a9a;
}
h2{
    padding: 0;
    font-weight: 240;
    font-size: 40px;
    margin: 0;
    font-family: "Myriad Pro";
    text-rendering: optimizelegibility;
}
h4{
    padding:0;
    font-size:28px;
}


.navbar{
    margin-bottom: -1px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b2e5e5;
    color: #fff;
}
.navbar-brand{
    font-size: 32px;
    color: #fff;
}
.navbar .navbar-form .form-group > input{
    font-size: 18px;
}
.navbar .navbar-form > button{
    font-size: 16px;
}
.navbar .navbar-collapse .nav{
    font-size: 20px;
}
.navbar .navbar-collapse .nav > li > a{
    color: #fff;
}
.navbar .navbar-collapse .nav > li > a:hover{
    color: #555;
}
.navbar .navbar-collapse .nav > li > a:active{
    color: #fff;
    text-decoration: none;
}

.main-container {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}


.sample-container{
    padding-top: 40px;
    padding-bottom: 30px;
}

.sample-container a:link{
    color: #9a9a9a;
}

.sample-container a:hover{
    color: #000000;
}

.sample-container .select-sample{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.sample-container .select-sample .sample-title{
    padding: 10px;
    padding-left: 15px;
    font-family: "Myriad Pro";
}

.sample-container .data-view{
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-style: dashed;
    border-color: #9a9a9a;
    border-radius: 5px;
}

.sample-container .data-view .row{
    margin: 10px;
    padding-left: 10px;
}

.sample-container .data-view .row-1 .col-md-3{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #E2FEEB;
}

.sample-container .data-view .row-2 .col-md-3{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #FEF2EF;
}

.sample-container .data-view .row > h4{
    font-size: 23px;
}

.sample-container .data-view .row > p{
    font-size: 23px;
    margin-left: 20px;
    font-style: italic;
    font-family: "Times New Roman";
}

.sample-container .chart-container{
    display: none;
    min-height: 420px;
    margin-top: 40px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.sample-container .chart-container .data-chart{
    min-height: 400px;
    border-color: #FFF477;
    border-radius: 8px;
    border-style: dashed;
}