body{
  font-family: "Myriad Pro";
  background-color: #fff;
  color: #555;
}
a:hover{
    text-decoration: none;
    color: #9a9a9a;
}
h2{
    padding: 0px;
    font-weight: 240;
    font-size: 40px;
    margin: 0;
    font-family: "Myriad Pro";
    text-rendering: optimizelegibility;
}
h4{
    padding:0;
    font-size:26px;
}


.navbar{
    margin-bottom: -1px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b2e5e5;
    color: #fff;
}
.navbar-brand{
    font-size: 32px;
    color: #fff;
}
.navbar .navbar-form .form-group input{
    font-size: 18px;
}
.navbar .navbar-form button{
    font-size: 16px;
}


.main-container {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}


.sample-container{
    padding-top: 40px;
    padding-bottom: 30px;
}

.sample-container a:link{
    color: #9a9a9a;
}

.sample-container a:hover{
    color: #000000;
}

.sample-container .select-sample .sample-title{
    padding: 10px;
}