<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - HotPre</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">HotPre</a>
      </div>
      <div>
        <form class="navbar-form navbar-right" role="search">
           
        </form>    
      </div>
    </nav>

    <div class="main-container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/question_mark.png">
        </div>
        <div class="col-md-6">
          <div class="description">
            <h2>Analyze, classify and predict</h2>
            <h4>terms or hashtags on Twitter</h4>
          <div>
          <form class="search-form" role="search">
            <div class="form-group">
              <input name="keyword" type="text" class="form-control" placeholder="Keyword..">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <div class="tips">
            <h4>or use <a class="examples" href="/examples">examples</a></h4>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
