<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - HotPre</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <link href="static/css/gh-fork-ribbon.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">HotPre</a>
      </div>
    </nav>

    <!-- fork me on github -->
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/KitnessChen/HotPre">Fork me on GitHub</a>
        </div>
    </div>

    <!-- main -->
    <div class="main-container">
      <div class="row">
        <div class="col-md-6">
          <img src="static/img/question_mark.png">
        </div>
        <div class="col-md-6">
          <div class="description">
            <h2>Analyze, classify and predict</h2>
            <h4>terms or hashtags on Twitter</h4>
          </div>
          <div>
            <form class="search-form" role="search">
              <div class="form-group">
                <input name="keyword" type="text" class="form-control" placeholder="Keyword..">
              </div>
              <button type="submit" class="btn btn-default" href="/search">Search</button>
            </form>
            <div class="tips">
              <h4>or use <a class="samples" href="/samples">samples</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
